@using BaseProjectMvc_Net8.Data.Entities
@model BaseProjectMvc_Net8.Data.Entities.Product


<div class="container">
    <div class="text-center">
        <h4 class="display-3">Edit</h4>
    </div>
    <form method="post" asp-action="Edit" asp-controller="Product">
        <div>
            <label>Product name</label>
            <input type="text" name="product_name" value="@Model.Product_Name" />
        </div>
        <div>
            <label>Price</label>
            <input name="price" value="@Model.Price" />
        </div>
        <div>
            <label>Category</label>
            <input type="number" name="category_id" value="@Model.Category_Id" />
        </div>
        <div>
            <input type="submit" value="Edit" />
        </div>
    </form>
</div>
<div class="m-3">
    @Html.ActionLink("Back to Products", "Index", "Product", null, new { @class = "btn btn-primary" })
</div>
<div class="btn btn m-3">
    @Html.ActionLink("Delete", "Delete", "Product", new { id = @Model.Product_Id }, new { @class = "btn btn-danger" })
</div>
