@using Microsoft.AspNetCore.Http
@using BaseProjectMvc_Net8.Extensions
@using Newtonsoft.Json

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model BaseProjectMvc_Net8.Models.ResponseViewModel

@{
	ViewData["Title"] = "Home Page";

	var list = HttpContextAccessor.HttpContext?.Session.GetObjectFromJson<List<ItemModel>>("Items") ?? [];
}

<div class="col-lg-6 col-sm-6">
	<form method="post" asp-action="SearchProduct" asp-controller="Home" class="search-wrap">
		<div class="input-group">
			<input type="text" name="productName" class="form-control" placeholder="Search">
			<div class="input-group-append">
				<button class="btn btn-primary" type="submit">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</div>
	</form> <!-- search-wrap .end// -->
</div>


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y-sm bg-default ">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 card padding-y-sm card ">
				<span id="items">

					<div class="row">
						@foreach (var item in Model.ProductsList!)
						{
							var jsonItem = JsonConvert.SerializeObject(item);
							<div class="col-md-3">
								<figure class="card card-product">
									<span class="badge-new"> NEW </span>
									<div class="img-wrap">
										<img src="~/images/items/farmaceutica.jpg">
										<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
									</div>
									<figcaption class="info-wrap">
										<a href="#" class="title">@item.Product_Name</a>
										<input type="hidden" name="product_name" value="@item.Product_Name" />
										<div class="action-wrap">
											<input type="hidden" name="product_Id" value="@item.Product_Id" />
											<button class="btn btn-primary btn-sm float-right addProductBtn" data-item='@Html.Raw(jsonItem)'><i class="fa fa-cart-plus"></i> Add</button>
											<div class="price-wrap h5">
												<span class="price-new">$@item.Price</span>
												<input type="hidden" name="price" value="@item.Price" />
											</div> <!-- price-wrap.// -->
										</div> <!-- action-wrap -->
									</figcaption>
								</figure>
							</div> <!-- col // -->
						}
					</div> <!-- row // -->
				</span>
			</div>
			<div class="col-md-4">
				<div class="card">
					<span id="cart">
						<table class="table table-hover shopping-cart-wrap">
							<thead class="text-muted">
								<tr>
									<th scope="col">Item</th>
									<th scope="col" width="120">Qty</th>
									<th scope="col" width="120">Price</th>
									<th scope="col" class="text-right" width="200">Delete</th>
								</tr>
							</thead>
							<tbody>

								@foreach (var item in list)
								{
									<tr>
										<input type="hidden" name="id" value="@item.Id" />
										<td>
											<figure class="media">
												<div class="img-wrap"><img src="~/images/items/farmaceutica.jpg" class="img-thumbnail img-xs"></div>
												<figcaption class="media-body">
													<h6 class="title text-truncate">@item.Product_Name </h6>
													<input type="hidden" name="product_id" value="@item.Product_Id" />
													<input type="hidden" name="product_name" value="@item.Product_Name" />
												</figcaption>
											</figure>
										</td>
										<td class="text-center">
											<div class="m-btn-group m-btn-group--pill btn-group mr-2" role="group" aria-label="...">

												<input type="text" id="quantity" onchange="getQuantity(event)" onkeyup="getQuantity(event)" name="quantity" min="0" />

											</div>
										</td>
										<td>
											<div class="price-wrap">
												<var class="price">$ @item.Price</var>
												<input type="hidden" name="price" value="@item.Price" />
											</div> <!-- price-wrap .// -->
										</td>
										<td class="text-right">
											<a href="@Url.Action("DeleteItem", "Home", new { id = item.Id})" class="btn btn-outline-danger"> <i class="fa fa-trash"></i></a>
										</td>


									</tr>
								}
							</tbody>
						</table>
					</span>
				</div> <!-- card.// -->
				<div class="box">
					<dl class="dlist-align">
						<dt>Tax: </dt>
						<dd class="text-right">0%</dd>
					</dl>
					<dl class="dlist-align">
						<dt>Discount:</dt>
						<dd class="text-right"><a href="#">0%</a></dd>
					</dl>
					<dl class="dlist-align">
						<dt>Sub Total:</dt>
						<dd class="text-right">$ @Model.ItemSelected?.Subtotal</dd>
					</dl>
					<dl class="dlist-align">
						<dt>Total: </dt>
						<dd class="text-right h4 b"> $ @ViewBag.Total </dd>
					</dl>
					<div class="row">
						<div class="col-md-6">
							<form method="post" asp-action="ClearItems" asp-controller="Home">
								<button class="btn  btn-default btn-error btn-lg btn-block" type="submit"><i class="fa fa-times-circle "></i>Cancel</button>
							</form>
@* 							<a href="" class="btn  btn-default btn-error btn-lg btn-block"><i class="fa fa-times-circle "></i> Cancel </a>
 *@						</div>
						<div class="col-md-6">
							<a href="@Url.Action("CreateInvoice", "Home", new { items = Model.ItemsSelected?.ToList() })" class="btn  btn-primary btn-lg btn-block"><i class="fa fa-shopping-bag"></i> Charge </a>
						</div>
					</div>
				</div> <!-- box.// -->
			</div>
		</div>
	</div><!-- container //  -->
</section>

<script>

	document.querySelectorAll('.addProductBtn').forEach(button => {
		button.addEventListener('click', function () {
			let item = JSON.parse(this.dataset.item);
			addProduct(item);
		});
	});

	function addProduct(item) {
		console.log(item);
		fetch('@Url.Action("AddItem", "Home")', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify(item)
		})
			.then(response => {
				if (response.ok) {
					// Manejar la respuesta exitosa, por ejemplo, actualizar la UI
					console.log("Item added successfully!");
				} else {
					console.error("Error adding item:", response.statusText);
				}
			})
			.catch(error => {
				console.error("Error adding item:", error);
			});
	}

	document.addEventListener('DOMContentLoaded', function () {
		var input = document.getElementById('quantity');

		input.addEventListener('change', function () {
			document.getElementById('quantityForm').submit();
		});
	});

</script>