
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@if (Context.Session.IsAvailable)
{
	<div class="widget-header dropdown">
		<a href="@Url.Action("Index", "Account")" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10">
			@Context.User.Identity?.Name
			<img src="~/images/avatars/bshbsh.png" class="avatar" alt="">
		</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="dropdown-item" href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out-alt"></i> Logout</a>
		</div> <!--  dropdown-menu .// -->
	</div> <!-- widget  dropdown.// -->
}
else
{
	<div class="dropdown-menu dropdown-menu-right">
		<a class="dropdown-item" href="@Url.Action("Register", "Account")"><i class="fa fa-user-plus"></i> Register User</a>
		<a class="dropdown-item" href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in-alt "></i> Login</a>
	</div> <!--  dropdown-menu .// -->
}